*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2f2f2;
}

.container{
    width:350px;
    padding:30px;
    background:white;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    text-align:center;
}

.progress {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background: green;
    transition: width 1s linear;
}

h1{
    font-size:55px;
    margin-bottom:25px;
}

.buttons{
    display:flex;
    justify-content:space-between;
}

button{
    width:120px;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    color:white;
    font-size:18px;
}

#start{
    background:#28a745;
}

#reset{
    background:#dc3545;
}

button:hover{
    opacity:0.9;
}
